<p id="notice"><%= notice %></p>

<h1>treddit</h1>


  <div class="row">
    <% @links.each do |link| %>
      <div class="well">
        <p><%= link_to "#{link.name}", link.link %></p>
        <p><%= link.score %></p>
        <%= link_to 'Show', link %>
        <% if link.user == current_user %>
          <%= link_to 'Edit', edit_link_path(link) %>
          <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>

